/* Null Style */
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

/* Body */
body {
	font-family: Arial;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 20px 20px;
	background-color: #222222;
}

.content {
	flex: 1 1 auto;
}

.content__title {
	font-size: 50px;
	font-weight: 700;
	color: #66fcf1;
	padding: 70px 0 20px 0;
	display: flex;
	flex-direction: row;
}

.content__element {}

.element__subtitle {
	color: #c5c6c7;
	font-size: 40px;
	margin: 50px 0;
}

.element__element {
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 25px;
	transition: all 800ms ease 0s;
}

.element__wrapper2d {
	width: 170px;
	height: 170px;
	margin: 30px 0 40px 30px;
	background-color: rgba(255, 255, 255, 0.1);
}

.element__wrapper3d {
	width: 170px;
	height: 170px;
	margin: 30px 0 40px 30px;
	background-color: rgba(255, 255, 255, 0.1);
	perspective-origin: center;
	perspective: 400px;
}

.element__text {
	font-size: 26px;
	color: #fff;
	line-height: 35px;
	margin-left: 30px;
}

.element__text span {
	font-weight: 700;
}

.element__text ul li {
	list-style-type: square;
	margin-left: 70px;
	color: #fff;
}

.element__text ul li p {
	color: #c5c6c7;
	display: inline;
}

.element__text p {
	padding-top: 25px;
	color: #fff;
	font-weight: 700;
}

.element__text p span {
	color: #c5c6c7;
}

.element__text p span a {
	color: #90ac77;
}

.element__text p span a:hover {
	color: #cf8870;
	border-bottom: 2px solid #cf8870;;
}

.element__text ul li:first-child {
	margin-top: 30px;
}

.element__text h2 {
	margin: 16px 0 0 30px;
	font-weight: 700;
	color: #c5c6c7;
}

.element__code {
	margin: 10px 30px 20px 30px;
	padding: 25px 25px 25px 35px;
    background-color: #292929;
    border-radius: 15px;
}

.element__code code {
	display: block;
    font-size: 18px;
    line-height: 21px;
    word-wrap: break-word;
}

.code-item__main {
	color: #cf8870;
}

.code-item__main span {
	color: #8b7f93;
}

.code-item__desc {
	color: #90ac77;
	margin-left: 40px;
}

.code-item__desc span {
	color: #a9504f;
}

.code-item__text {
	color: #c5c6c7;
	margin: 15px 0;
}

.transform-style {
	transform-style: preserve-3d;
	perspective-origin: right top;
}

/* Elements */
.element-one {
	background-color: #efe2ba;
	width: 170px;
	height: 170px;
}

.element-one:hover {
	transform: translate(60px, 100px);
}

.element-two {
	background-color: #d79922;
	width: 170px;
	height: 170px;
}

.element-two:hover {
	transform: scale(-1.5, 2);
}

.element-three {
	background-color: #479761;
	width: 170px;
	height: 170px;
}

.element-three:hover {
	transform: rotate(45deg);
}

.element-four {
	background-color: #d3e3fc;
	width: 170px;
	height: 170px;
}

.element-four:hover {
	transform: skew(10deg, 25deg);
}

.element-five {
	background-color: #14a098;
	width: 170px;
	height: 170px;
}

.element-five:hover {
	transform: matrix(2, 0.2, 0.4, 0.8, 100, 50);
}

.element-six {
	background-color: #e27d60;
	width: 170px;
	height: 170px;
	transform-origin: right top;
}

.element-six:hover {
	transform: rotate(50deg);
}

.element-seven {
	background-color: #bc986a;
	width: 170px;
	height: 170px;
}

.element-seven:hover {
	transform: rotateX(40deg);
}

.element-eight {
	background-color: #5cdb95;
	width: 170px;
	height: 170px;
}

.element-eight:hover {
	transform: translate3d(25px, -30px, 60px);
}

.element-ten {
	background-color: #fccd04;
	width: 170px;
	height: 170px;
}

.element-ten:hover {
	transform: scale3d(0.7, 1.5, 5);
}

.element-eleven {
	background-color: #86c232;
	width: 170px;
	height: 170px;
}

.element-eleven:hover {
	transform: rotate3d(2, 1, 2, 80deg);
}

.element-twelve {
	background-color: #65ccb8;
	width: 170px;
	height: 170px;
}

.element-twelve:hover {
	transform: matrix3d(0.4089,-0.5,0.34,0,0.50,0.8526,0.17,0,-0.34,-0.17,0.9211999999999999,0,35,60,1,1);
}

.element-thirteen {
	background-color: #5085a5;
	width: 170px;
	height: 170px;
}

.element-thirteen:hover {
	transform: translate3d(30px, 30px, 80px) rotate3d(1, 1, 1, 45deg);
}

.element-fourteen {
	background-color: #e64398;
	width: 170px;
	height: 170px;
}

.element-fourteen:hover {
	transform: rotate3d(1, 1, 1, 45deg);
}

.flip {
	margin: 0 0 40px 30px;
}

.flip__body {
	position: relative;
	width: 170px;
	height: 170px;
	transition: all 0.8s ease 0s;
	transform-style: preserve-3d;
	font-size: 25px;
	color: #fff;
}

.flip__front,
.flip__back {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flip__front {
	z-index: 2;
	transform: rotateY(0deg);
	background-color: #77608d;
	backface-visibility: hidden;
}

.flip__back {
	transform: rotateY(-180deg);
	background-color: rgba(121, 79, 69, 0.5);
}

.flip__body:hover {
	transform: rotateY(-180deg);
}

/* Footer */
.footer {
	background-color: #1b1b1b;
	max-height: 66px;
	
}

.footer__block {
	color: #888888;
	align-items: center;
	padding: 6px 0 6px 0;
	line-height: 15px;
}

.footer__text {
	text-align: center;
	font-size: 13px;
}

/* Media */
@media (max-width:  500px) {
	.element__wrapper2d,
	.element__wrapper3d {
		margin-left: 0px;
	}

	.element__text {
		margin-left: 0px;
	}

	.element__text h2 {
		margin: 16px 0 0 0px;
		font-weight: 700;
		color: #c5c6c7;
	}

	.element__code {
		margin: 10px 0px 20px 0px;
		padding: 20px 20px 20px 30px;
	}

	.element__text ul li {
		margin-left: 40px;
	}

	.flip {
		margin-left: 0px;
	}
}
@media (max-width:  400px) {
	.element__text {
		text-align: justify;
	}

	.element__text ul li {
		margin-left: 20px;
		text-align: start;
	}

	.content__title {
		font-size: 45px;
		padding: 40px 0 20px 0;
	}

	.element__subtitle {
		font-size: 40px;
		margin: 30px 0;
	}
}
@media (max-width: 320px) {
	.element__text ul li {
		font-size: 22px;
	}

	.element__text {
		font-size: 22px;
	}

	.content__title {
		font-size: 40px;
	}

	.element__subtitle {
		font-size: 35px;
	}

	.element__code {
		padding: 20px 15px 20px;
	}
}
/* Theme  */
.light-theme {
	background-color: #fff;
}

.dark-theme {
	background-color: #151515;
}

.theme-button {
	background-color: inherit;;
}

.theme-button button {
	background-color: inherit;
	font-size: 16px;
	color: #cecece;
	text-align: center;
}

.theme-button button:hover {
	text-decoration: underline;
}

.theme-button button:active {
	color: #fff;
}

.light-theme .container {
	background-color: #e8e8e8;
}

.light-theme .content__title {
	color: #d83f87;
}

.light-theme .theme-button button {
	background-color: inherit;
	color: #424242;
}

.light-theme .theme-button button:active {
	background-color: inherit;
	color: #9b9b9b;
}

.light-theme .element__subtitle {
	color: #424242;
}

.light-theme .element__wrapper2d {
	width: 170px;
	height: 170px;
	background-color: rgba(143, 138, 138, 0.3); 
}

.light-theme .element__wrapper3d {
	width: 170px;
	height: 170px;
	margin: 30px 0 40px 30px;
	background-color: rgba(143, 138, 138, 0.3); 
	perspective-origin: center;
	perspective: 400px;
}
.light-theme .element__text {
	color: #000;
}

.light-theme .element__text h2 {
	color: #424242;
}

.light-theme .element__code {
	background-color: #d4d4d4;
}

.light-theme .element__text ul li {
	color: #000;
}

.light-theme .element__text ul li p {
	color: #424242;
}

.light-theme .element__text p {
	color: #000;
}

.light-theme .footer {
	background-color: #c4c4c4;
}

.light-theme .footer__block {
	color: #2a2a2a;
}

.light-theme .code-item__main {
	color: #0015FF;
}

.light-theme .code-item__main span {
	color: #5600FF;
}

.light-theme .code-item__desc {
	color: #2A9100;
	margin-left: 40px;
}

.light-theme .code-item__desc span {
	color: #FF0000;
}

.light-theme .element-one {
	background-color: #f98946;
}

.light-theme .element-four {
	background-color: #2e7af1;
	width: 170px;
	height: 170px;
}